<table border = "1">
    <tr>
        <th>City Names</th>
    </tr>
    {{#each cities}}
        <tr>
            <td>{{this}}</td>
        </tr>
    {{/each}}
    </tr>
</table>


<ol>
    <!-- heach -->
    {{#each sports}}
        <li>{{this}}</li>
    {{/each}}
</ol>

{{ sports }}<br>
{{ Integer }}<br>
{{ Double }}<br>
{{ Character }}<br>
{{ Boolean }}
